@{
    ViewData["Title"] = "Home Page";
}

@* Code adapted from:
Author: Learning Programming 
Link: https://learningprogramming.net/net/asp-net-core-mvc-5/use-images-css-and-javascript-in-asp-net-core-mvc-5/ *@

<!-- Image Section -->
<div class="hero-container">
    <img src="https://cdn.dribbble.com/users/2176762/screenshots/5412967/student-portal-daydream-360-degree-stereoscopic-image_4x.png" alt="Hero Image" class="img-fluid">
</div>

<div class="text-center">
   
    <p>If you a Returning user please proceed to Login.</p>
    <p>If you a New user please proceed to Register.</p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
